/* Layout styles */
.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: rgb(249 250 251);
  position: relative;
  overflow-x: hidden;
}

.layout-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  width: calc(100% - 256px); /* Sesuai dengan lebar main content */
  transition: width 0.3s ease;
}

.layout-header.sidebar-collapsed {
  width: calc(100% - 64px); /* Sesuai dengan lebar main content saat sidebar collapsed */
}

.layout-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 40;
  transition: all 0.3s ease;
}

.layout-main {
  flex: 1;
  margin-left: 256px; /* Lebar default sidebar */
  transition: margin 0.3s ease;
  min-height: 100vh;
  width: calc(100% - 256px);
  padding-top: 63px; /* Tinggi header */
}

.layout-main.sidebar-collapsed {
  margin-left: 64px; /* Lebar sidebar saat collapsed */
  width: calc(100% - 64px);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .layout-main {
    margin-left: 0;
    width: 100%;
  }
  
  .layout-main.sidebar-collapsed {
    margin-left: 0;
    width: 100%;
  }

  .layout-header {
    width: 100%;
    left: 0;
  }

  .layout-header.sidebar-collapsed {
    width: 100%;
  }
}
